@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	background-color: rgb(231, 0, 0);
	font-family: 'Poppins', sans-serif;
	color: white;
}

.body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.container {
	justify-self: center;
	max-width: max-content;
	min-width: 800px;
	text-shadow: 0 0 5px #000;

	display: grid;
	grid-template-rows: max-content;
	align-content: center;
}

h1 {
	font-size: 1.5rem;
}

.timer {
	margin-top: 0vh;
	text-align: center;
	text-shadow: 0 0 7px #000;
}

.timer h1 {
	font-size: 10vh;
}

.i {
	margin-left: auto;
	margin-right: auto;
	max-width: max-content;
	margin-top: 10vh;
}


h1,
h2,
p {
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

.other-timers {
	display: flex;
	align-items: center;
	width: 100%
}

.other-timers h2 {
	margin-left: auto;
}

hr {
	border: none;
	border-top: 1px solid #fff;
	margin: 0
}

.credits {
	margin-top: 10px;
	font-size: 12px;
	text-align: center;
}

button {
	outline: none;
	background: none;
	border: none;
	border-radius: 10px;
	color: #fff;
	text-shadow: 0 0 4px #000;
}

button:hover {
	cursor: pointer;
	box-shadow: 0 0 4px #000;
}

@media only screen and (max-width: 415px) {
	.timer h1 {
		font-size: 4rem;
	}
	.other-timers h2 {
		font-size: 1rem
	}
}
@media only screen and (max-width: 320) {
	.timer h1 {
		font-size: 3rem;
	}
}

@media only screen and (max-width: 800px) {
	.container {
		justify-self: center;
		width: 90%;
		min-width: min-content;
		max-width: 90%;
		margin-left: 0;
		margin-right: 0;
	}
	.timer h1 {
		font-size: 4rem;
	}
}